.organization {

  &__info,
  &__logo {
    display: block;
  }

  &__cta {
    margin-top: 24px;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1;
    .link {
      color: rgba(var(--theme-colour-sky),1);
      text-decoration: none;
      &:hover {
        color: rgba(var(--theme-colour-powder),1);
      }
    }
  }

  &__logo {
    height: 56px;
    width: auto;
    img {
      display: block;
      height: 100%;
      width: auto;
    }
    & + .organization__content {
      margin-top: 34px;
    }
  }

  @include breakpoint(lg) {

    &__logo {
      height: 56px;
    }

  }

  @include breakpoint(xl) {

    &__logo {
      height: 58px;
    }

  }

  @include breakpoint(xxl) {

    &__logo {
      height: 60px;
    }

  }

}
